<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="var/cache/.phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <env name="APP_SECRET" value="test-secret-do-not-use-in-prod-1234567890"/>
        <env name="APP_TIMEZONE" value="UTC"/>
        <env name="APP_AUTH_USER" value="admin"/>
        <env name="APP_AUTH_PASSWORD" value="changeme"/>
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/data_test.db"/>
        <env name="NAVIDROME_DB_PATH" value="%kernel.project_dir%/var/navidrome_test.db"/>
        <env name="NAVIDROME_URL" value="http://localhost:4533"/>
        <env name="NAVIDROME_USER" value="admin"/>
        <env name="NAVIDROME_PASSWORD" value="changeme"/>
        <env name="STATS_REFRESH_SCHEDULE" value="0 */6 * * *"/>
        <env name="LIDARR_URL" value=""/>
        <env name="LIDARR_API_KEY" value=""/>
        <env name="LIDARR_ROOT_FOLDER_PATH" value="/music"/>
        <env name="LIDARR_QUALITY_PROFILE_ID" value="1"/>
        <env name="LIDARR_METADATA_PROFILE_ID" value="1"/>
        <env name="LIDARR_MONITOR" value="all"/>
        <env name="RUN_HISTORY_RETENTION_DAYS" value="90"/>
        <env name="LASTFM_API_KEY" value=""/>
        <env name="LASTFM_API_SECRET" value=""/>
        <env name="LASTFM_USER" value=""/>
        <env name="LASTFM_PAGE_DELAY_SECONDS" value="0"/>
        <env name="LASTFM_FUZZY_MAX_DISTANCE" value="0"/>
        <env name="LASTFM_LOVE_SYNC_SCHEDULE" value=""/>
        <env name="COVERS_CACHE_PATH" value="%kernel.project_dir%/var/covers_test"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
