{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <h1 class="text-2xl font-semibold mb-4">Dashboard</h1>
    <div class="bg-white shadow-sm rounded-sm p-6 text-slate-500 text-sm">
        Le développement de Navidrome Tools v2 est en cours. 🚧
    </div>
{% endblock %}
